body.sub #main_container .inner.profile {
  width: 100%;
  height: 100vh;
}

body.sub #main_container .inner.profile .row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body.sub #main_container .inner.profile .row .col {
  position: relative;
  flex: 0 0 50%;
}

body.sub #main_container .inner.profile .row .col.text {
  position: absolute;
  left: 0;
  background: #fff;
}

body.sub #main_container .inner.profile .row .col.text h2 {
  text-transform: capitalize;
}

body.sub #main_container .inner.profile .row .col.image {
  position: absolute;
  left: 50%;
  background: url("../img/profile02.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
